spherical_wave/spherical_wave_k0.1.mp4 filter=lfs diff=lfs merge=lfs -text
spherical_wave/spherical_wave_k0.1_with_plasma.mp4 filter=lfs diff=lfs merge=lfs -text
spherical_wave/spherical_wave_k0.5.mp4 filter=lfs diff=lfs merge=lfs -text
spherical_wave/spherical_wave_k10.0.mp4 filter=lfs diff=lfs merge=lfs -text
spherical_wave/spherical_wave_k3.0.mp4 filter=lfs diff=lfs merge=lfs -text
spherical_wave/spherical_wave_k5.0_with_plasma.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_comparison.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/bottling_killperp0.05.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/bottling_sync0.05.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/bottling_sync0.1.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/cooling_comparison.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B8e4_nosync.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B16e4.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B16e4_no_gr.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B4e4.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B8e4.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/bottling_killperp0.1.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/bottling_nosync.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/gr_comparison.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B24e4.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B4e4_electrosphere.mp4 filter=lfs diff=lfs merge=lfs -text
weak_pulsars/movies/weak_pulsar_B12e4.mp4 filter=lfs diff=lfs merge=lfs -text
